// 预设配置
@import '../../node_modules/xlink-lego/lib/styls/settings';
// 工具函数，依赖于配置
@import '../../node_modules/xlink-lego/lib/styls/utilities';
// 浏览器样式重置，依赖于配置和工具函数
@import '../../node_modules/xlink-lego/lib/styls/reset/index';
// 动画效果，依赖于配置和工具函数
@import '../../node_modules/xlink-lego/lib/styls/animations/index';
// 图标
//@import '../../node_modules/xlink-lego/lib/styls/iconfont/iconfont.css';
// 组件样式，依赖于配置和工具函数
@import '../../node_modules/xlink-lego/lib/styls/components/index';
// @import './node_modules/xlink-lego/lib/styls/components/base'; // 只引入基础组件样式
// 原子类, 依赖于配置和工具函数
@import '../../node_modules/xlink-lego/lib/styls/misc';